/* ESTILOS GERAIS */
html, body{
	font-family: 'Roboto', sans-serif;
	color: #828282;
	width: auto;
	height: auto;
}
body::-webkit-scrollbar {
	display: none;
}
.container{
	padding: 4rem 0;
}
.row{
	margin: 0;
}
h2, h5{
	text-shadow: 0.1em 0.1em 0.2em black;
}
h2{
	font-size: clamp(1.4rem, 4vw, 3rem);
	margin-bottom: 3rem;
}
h5{
	font-size: clamp(.9rem, 1.8vw, 2rem);
	margin-bottom: 6rem;
}
p, li{
	font-size: clamp(0.8rem, .8vw, 1rem);
}
.main-title{
	color: #797676;
	margin-bottom: 5rem;
	font-size: clamp(1.5rem, 2.4vw, 2.2rem);
	text-align: center;
}
.main-title::after{
	content: "";
	border-top: 2px solid #828282;
	width: 15%;
	position: absolute;
	top: 60px;
	left: 42.5%;	
	align-items: center;
}
.title{
	font-size: clamp(1rem, 1.2vw, 1.8rem);
	font-weight: bold;
	margin-bottom: 1.5rem;
}
.main-btn{
	padding: 10px 16px;
	border: 1px solid #FFF;	
	color: var(--white);
	letter-spacing: 0.2rem;
	text-shadow: 0.1em 0.1em 0.2em black;
	text-transform: uppercase;
	transition: .6s ease;
}
#about-area,
#news-area {
	background-color: #F9F9F9;
}
#pattern-img h4,
#pattern-img p,
#data-area p{
	color: #E8E8E8;
}

/* BARRA DE NAVEGAÇÃO */
#nav-container{
	padding-top: 0;
	padding-bottom: 0;
}
#logo{
	width: 3rem;
}
.pink{
	color: rgb(243 180 245);
	font-weight: bold;
}
.blue{
	color: #BBFFFF;
	font-weight: 300;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 1rem 0.8rem;
}

/* BANNERS */
.container-fluid{
	padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item {
	height: 100vh;
  }
#mainSlider .carousel-caption{
	top: 20%;
}

/* SOBRE NÓS */
#about-area .img-fluid{	
	background: 100%;	
	object-fit: cover;
}
#about-list{
	list-style: none;
	padding-left: 0;
}
#about-list li{
	line-height: 2rem;	
}
#about-list i{
	color: #00BFFF;
	margin-right: 1rem;
}

/* SERVIÇOS */
.service-box{
	text-align: center;
	margin-bottom: 1rem;
}
.service-box i, .service-box h4{
	transition: 0.5s;
}
.service-box i{
	font-size: 2rem;
	margin-bottom: 1.2rem;
	color: #696969;
}
.service-box:hover > i, .service-box:hover > h4{
	color: #00BFFF;
}
.circle-box div{
	padding: 0 30px;
}
.progressbar-text{
	font-weight: bold;
	font-size: 2rem;
}
#data-area p{
	text-align: center;
	font-size: 1.4rem;
	margin-top: 2.2rem;
}

/* COLABORADORES */
#team-area div>img{
	max-width: 35%;
}
.card-plus{
	margin-bottom: 1rem;
	height: 12rem;
	align-items: center;
	text-align: center;
}
.cb-plus{
	padding: .5rem;
}
.card img{
	margin-top: 1rem;
}

/* TRABALHE CONOSCO */
#apply-area{
	height: 500px;
}
#apply-area .container-fluid,
#apply-area .row{
	height: 100%;
}
.position-apply{
	text-align: center;
	padding: 3rem 2.5rem;
}
#company-img{
	background-image: url('../img/trabalheconosco.jpg');
	background-size: cover;
	height: 100%;
}
#pattern-img h4{
	margin-top: 6%;
	margin-bottom: 2rem;
	text-transform: uppercase;
}
#pattern-img p{
	margin-bottom: 2rem;
	font-size: clamp(1.2rem, 1vw, 2rem);
	font-weight: 100;
}

/* PORTFÓLIO */
.project-box{
	margin-bottom: 1rem;	
}
.project-box img{
	width: 300px;
	height: 100px;
	object-fit: cover;
}
#filter-btn-box{
	margin-bottom: 2rem;
	text-align: center;
}
#portfolio-area .filter-btn{
	color: #828282;
	text-shadow: none;	
	border: 1px solid #828282;
	background-color: transparent;
	margin: 0 .2rem .5rem;
	padding: 5px 10px;
	font-size: .9rem;
}
#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover{
	color: var(--white);
	background-color: #1E90FF;
	border-color: #1E90FF;
}

/* NEWSLETTER */
#news-area{
	text-align: center;
}
#news-area p{
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
#email-input{
	border-radius: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 0;	
	border: 1px solid #00BFFF;
	display: inline;
}
.form-news{
	width: 40%;
	margin: 0 15em 0 15em;
	align-items: center;
	box-sizing: border-box;		
}
#news-btn{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #00BFFF;
	background-color: #00BFFF;
	letter-spacing: 0.2rem;
	color: var(--white);
	text-transform: uppercase;	
	height: 38px; 
	padding: 0 30px;
	margin-left: -1px;
	position: absolute;
	transition: 0.8s;
}
#news-btn:hover{
	background-color: transparent;
	color: #00BFFF;
	font-weight: bold;
}

/* CALL TO ACTION */
#call-area{
	background-color: #00BFFF;
	text-transform: uppercase;
}
#call-area .container{
	padding: 3rem 8rem;
}
#call-area .row{
	display: block;
	text-align: center;	
}
#call-area p{
	color: var(--white);
	font-weight: bold;
	font-size: 1.5rem;
	width: auto;
	letter-spacing: 2px;
	margin-bottom: 0;
	display: inline;
	height: 60px;
	line-height: 60px;
}
#call-area #call-btn{
	background-color: transparent;
	border: 1px solid #FFF;
	color: var(--white);
	font-weight: bold;
	margin-left: 30px;
	width: auto;
	letter-spacing: 2px;
	text-shadow: none;
}

/* FOOTER */
#contact-area, #contact-area p{
	text-align: center;	
}
.contact-box{
	margin-bottom: 1rem;
	border-bottom: 1px solid #607B8B;
}
.contact-box i{
	color: #696969;
	border: 1px solid #696969;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	line-height: 3.5rem;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}
.contact-box p{
	width: 90%;
}
.contact-title{
	font-weight: bold;
	color: #00BFFF;
}
#msg-box p{
	font-size: 1.3rem;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
	margin-bottom: 15px;
	border-radius: 0;
}
#copy-area{
	background-color: #363636;
}
#copy-area .container{
	padding: 1rem 0;	
}
#copy-area .container p{
	margin-bottom: 0;
	color: #CFCFCF;
	text-align: center;
}

/* RESPONSIVE */
@media(max-width: 991px){
	.container{
		padding: 2rem 0;
	}
	#about-area p{
		display: none;
	}
	.position-apply{
		padding: 1rem 0;
	}
	#call-area .container{
		padding: 1rem 4rem;
	}
}

@media(max-width: 768px){
	.container{
		padding: 2rem 0 0 0;
	}
	h5{
		margin-bottom: 2rem;
	}
	.main-title{
		margin-bottom: .5rem;
	}
	.main-title::after{
		display: none;
	}
	.title{
		margin-top: 1.5rem;
	}
	.main-btn{
		padding: 8px 12px;
		font-size: .8rem;
	}
	#mainSlider .carousel-inner, 
	#mainSlider .carousel-item{
		height: auto;
	}
	.carousel-caption{
		left: 10%;
		right: 10%;
	}
	.services-plus{
		flex: 0 0 50%;
		max-width: 50%;
	}		
	.service-box{
		margin-bottom: .5rem;
	}
	#team-area{
		display: none;
	}
	#data-area{
		display: none;
	}
	#company-img{
		display: none;
	}
	#apply-area{
		height: 350px;
	}
	#pattern-img h4, 
	#pattern-img p{
		margin: 1rem;
	}
	#news-area p{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	#email-input{
		width: 90%;		
	}
	.form-news{	
	margin: 0 15%;
	}
	#call-area {
		margin-top: 2rem;
	}
	#call-area .container{
		padding: 2rem;
	}
	#call-area, 
	#call-area p,  
	#call-btn{
		font-size: 1.2rem;
	}
}

@media(max-width: 425px){
	.main-title{
		margin-bottom: 2rem;
		color: rgb(243 180 245);
	}
	.main-btn{
		padding: 6px 8px;
		font-size: .6rem;
	}
	#mainSlider .carousel-caption{
		top: 40%;
		left: 0;
		right: 0;
	}
	.carousel-caption h2{
		margin-bottom: .8rem;
	}
	.carousel-caption h5{
		display: none;
	}	
	#about-area img{
		margin-top: 0;
	}
	.project-box{
		width: 50%;
	}
	#news-area p{
		font-size: 1rem;
	}
	#news-btn{
		letter-spacing: 0.1rem;
		color: var(--white);
		text-transform: uppercase;	
		height: 38px; 
		padding: 0 10px;
		margin-left: -1px;
		position: absolute;
		transition: 0.8s;
	}
	.form-news{
		width: 65%;
		margin: 0 1em 0 1em;		
	}
	#call-area p, #call-area #call-btn{
		font-size: 16px;
		letter-spacing: 0;
		margin: 0;
		width: 50%;
	}
	.contact-box{
		border: none;
		margin-bottom: 0;
	}
}